polkit.addRule(function(action, subject) {
    if (subject.user === "nassimhub" && action.id === "org.freedesktop.ModemManager1.Messaging") {
        return polkit.Result.YES;
    }
});
